In [1]:
print ("olá mundo")

olá mundo

In [ ]:
print ('estou aprendendo python')

estou aprendendo python

In [ ]:
#Esse é um comentario

In [2]:
#operacoes
soma = 1+1
print (soma)

2

In [ ]:
#multiplicacao
mult = 2*2
print (mult)

4

In [ ]:
#divisao
div = 10/2
print (div)

5.0

### **Estrutura de Dados**

In [ ]:
#Listas
animais = ['cachorro', 'gato','papagaio', 'macaco', 'tartatura']
animais

['cachorro', 'gato', 'papagaio', 'macaco', 'tartatura']

In [ ]:
#primeiro elemento da lista
animais [0]

'cachorro'

In [ ]:
animais [4]

'tartatura'

In [ ]:
animais [3]

'macaco'

In [ ]:
#substituindo primeiro elemento da lista
animais[0] = 'Coruja'

In [ ]:
animais

['Coruja', 'gato', 'papagaio', 'macaco', 'tartatura']

In [ ]:
#Removendo elemento da lista
animais.remove ('gato')

In [ ]:
animais

['Coruja', 'papagaio', 'macaco', 'tartatura']

In [ ]:
len(animais)

4

In [ ]:
'Gato' in animais

False

In [ ]:
lista = [500,30,300,80,10]

In [ ]:
max(lista)

500

In [ ]:
min(lista)

10

In [ ]:
animais.append('Leao')

In [ ]:
animais

['Coruja', 'papagaio', 'macaco', 'tartatura', 'Leao']

In [ ]:
lista.append(25)

In [ ]:
lista

[500, 30, 300, 80, 10, 25]

In [ ]:
lista.sort ()

In [ ]:
lista

[10, 25, 30, 80, 300, 500]

##**Tuplas**

In [ ]:
#tuplas são listas imutaveis, não podem ser alteradas

In [ ]:
tp = ("Banana", "Laranja", "Maça")
tp

('Banana', 'Laranja', 'Maça')

In [ ]:
tp.lower()

AttributeError: ignored

##**Dicionarios**

In [ ]:
#Criando dicionarios, usamos {}
dc = { 'Maça':20, 'Banana':10, 'Laranja':15, 'Uva':5}
dc

{'Banana': 10, 'Laranja': 15, 'Maça': 20, 'Uva': 5}

In [ ]:
#Acessando valor de um dicionarios atraves da chave
dc['Maça']

20

In [ ]:
#atualizando
dc['Maça'] = 25

In [ ]:
dc

{'Banana': 10, 'Laranja': 15, 'Maça': 25, 'Uva': 5}

In [ ]:
#Retornando todas as chaves do dicionarios
dc.keys()

dict_keys(['Maça', 'Banana', 'Laranja', 'Uva'])

In [ ]:
#Retornando todos os valores 
dc.values()
dc

{'Banana': 10, 'Laranja': 15, 'Maça': 25, 'Uva': 5}

In [ ]:
#Incluindo chave no dicionarios caso nao conste 
dc.setdefault('Limão', 22)
dc

{'Banana': 10, 'Laranja': 15, 'Limão': 22, 'Maça': 25, 'Uva': 5}

##**Tipos de Dados**

In [ ]:
type(10)

int

In [ ]:
type (10.5)

float

In [ ]:
type ('Python')

str

In [ ]:
type ('10')

str

##**Estruturas condicionais**

In [ ]:
10 >20

False

In [ ]:
#Instrução IF/ELSE
if 10>20:
  print('Verdadeiro')
else:
  print ('Falso')

Falso

In [ ]:
#Instrução ELFI é acionada caso a instrução IF seja falsa
#É uma instrução do tipo senão se
valor = 150

In [ ]:
#Entendendo a instrução ELIF
if valor >200:
  print('OK, valor maior que 200')
elif valor > 50:
    print ('Valor maior do que 50!')
elif valor > 40:
      print ('Outro valor')
else: 
        print ('Operação inválida, valores devem ser maiores que 50')

Valor maior do que 50!

In [ ]:
#Loops são usandos no python da seguinte forma
#for i in colecao: 
 # <execute uma ou mais ações>

#A coleção pode ser uma lista de números, uma lista de strings, um arquivo, tupla, dicionario e assim por diante.

In [ ]:
#Exemplo de for com lista
for i in [1,2,3,4,5]:
  print("Valor:{}".format(i))
  print(i+2)

Valor:1
3
Valor:2
4
Valor:3
5
Valor:4
6
Valor:5
7

In [ ]:
#exemplo de loop com uma lista de string
automoveis = ['Ferrari', 'Fusca', 'BMW', 'Gol']
for carro in automoveis:
  print(carro)

Ferrari
Fusca
BMW
Gol

In [ ]:
for caracter in "Analisando dados com Python":
  print(caracter)

In [ ]:
#Instrução break usada para encerrar um loop
for letra in 'Python':
 if letra =='o':
  break #loop interrompido
 print('Letra', letra)

print('\n\nContinuando o programa...')

Letra P
Letra y
Letra t
Letra h


Continuando o programa...

##**Trabalhando com biblioteca Pandas**

In [ ]:
#Importando a biblioteca pandas
import pandas as pd

In [ ]:
#Leitura dos arquivos
df1 = pd.read_excel('Aracaju.xlsx')
df2 = pd.read_excel ('Fortaleza.xlsx')
df3 = pd.read_excel ('Natal.xlsx')
df4 = pd.read_excel ('Recife.xlsx')
df5 = pd.read_excel ('Salvador.xlsx')

In [ ]:
#Visualiza 5 primeiras linhas 
df5.head()

     Cidade       Data  Vendas  LojaID  Qtde
0  Salvador 2018-01-01   31.06    1037     3
1  Salvador 2018-01-01   19.02    1034     3
2  Salvador 2019-02-10  173.59    1035     3
3  Salvador 2019-02-10  176.34    1037     3
4  Salvador 2019-02-14   19.47    1037     3

In [ ]:
#Visualizando 20 primeiras linhas
df5.head (20)

      Cidade       Data  Vendas  LojaID  Qtde
0   Salvador 2018-01-01   31.06    1037     3
1   Salvador 2018-01-01   19.02    1034     3
2   Salvador 2019-02-10  173.59    1035     3
3   Salvador 2019-02-10  176.34    1037     3
4   Salvador 2019-02-14   19.47    1037     3
5   Salvador 2019-01-01  179.20    1037     3
6   Salvador 2019-01-01   36.30    1034     2
7   Salvador 2019-02-11    6.13    1034     2
8   Salvador 2019-02-11    4.96    1036     2
9   Salvador 2019-01-01  127.92    1036     1
10  Salvador 2019-01-01   30.97    1036     1
11  Salvador 2019-01-01   30.62    1034     3
12  Salvador 2019-01-01  125.05    1034     3
13  Salvador 2019-02-12   39.29    1035     1
14  Salvador 2019-01-12  109.01    1035     2
15  Salvador 2019-01-01   20.15    1036     3
16  Salvador 2019-01-01   32.47    1036     2
17  Salvador 2019-02-14  158.66    1037     1
18  Salvador 2019-01-01  242.31    1035     1
19  Salvador 2019-01-01  167.12    1035     1

In [ ]:
df = pd.concat ([df1,df2,df3,df4,df5])

In [ ]:
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [ ]:
#ultimas linhas 
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [ ]:
#visualizando os valores unicos da coluna cidade
df["Cidade"].unique ()

array(['Aracaju', 'Fortaleza', 'Natal', 'Recife', 'Salvador'],
      dtype=object)

In [ ]:
#visualizando numero de linhas e colunas
df.shape

(894, 5)

In [ ]:
#amostra de dados aleatorio
df.sample(10)

        Cidade       Data  Vendas  LojaID  Qtde
101     Recife 2019-01-01  172.55     983     7
41       Natal 2018-05-20  835.00     852     4
223      Natal 2019-01-02   40.51    1037     2
58    Salvador 2019-01-01   20.64    1037     2
101    Aracaju 2018-01-01   16.62    1520     9
129   Salvador 2019-03-02  125.66    1037     1
51       Natal 2018-01-21  859.00     852     4
50       Natal 2019-03-08  324.00     854     4
10   Fortaleza 2019-01-01  179.88    1002     4
79      Recife 2019-01-01   14.53     983     6

In [ ]:
#verificando o tipo de dado de cada coluna
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [ ]:
df = df.reset_index ()

In [ ]:
df

     index    Cidade       Data  Vendas  LojaID  Qtde
0        0   Aracaju 2018-01-01  142.00    1520     1
1        1   Aracaju 2018-01-01   14.21    1522     6
2        2   Aracaju 2018-01-01   71.55    1520     1
3        3   Aracaju 2018-01-01    3.01    1521     7
4        4   Aracaju 2018-01-01   24.51    1522     8
..     ...       ...        ...     ...     ...   ...
889    235  Salvador 2019-01-03   41.84    1034     1
890    236  Salvador 2019-01-03  126.29    1035     3
891    237  Salvador 2019-01-03   38.06    1036     3
892    238  Salvador 2019-01-03  139.64    1035     1
893    239  Salvador 2019-01-03  161.41    1037     3

[894 rows x 6 columns]

In [ ]:
df.dtypes

index              int64
Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [ ]:
#alterar tipo de dados da coluna
df["LojaID"] = df["LojaID"].astype('object')

In [ ]:
df.dtypes

index              int64
Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

##**Valores Nulos**

In [ ]:
#verificando se possui valor nulo 
df.isnull().sum()

index     0
Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [ ]:
#subsituindo nulos por media
#exemplo: df["Idade"].fillna(df["Idade"].mean(),inplace=True)

##**Identificando Média**

In [ ]:
df["Vendas"].mean()#se o nome tiver espaços usar esse e boa prática

122.61180089485438

In [ ]:
df.Vendas.mean()

122.61180089485438

In [ ]:
#apagando as linhas com valores nulos
#df.dropna(inplace=True)

#apagando linhas com valor nulo com base em apenas uma coluna
#df.dropna(subset=["Vendas",inplace=True])

In [ ]:
#removendo linhas que estejam com todos linhas em branco
#df.dropna(how='all',inplace=True)

In [ ]:
#criando novas colunas
df['Receita'] = df['Vendas'].mul(df["Qtde"])

In [ ]:
df

     index    Cidade       Data  Vendas LojaID  Qtde  Receita
0        0   Aracaju 2018-01-01  142.00   1520     1   142.00
1        1   Aracaju 2018-01-01   14.21   1522     6    85.26
2        2   Aracaju 2018-01-01   71.55   1520     1    71.55
3        3   Aracaju 2018-01-01    3.01   1521     7    21.07
4        4   Aracaju 2018-01-01   24.51   1522     8   196.08
..     ...       ...        ...     ...    ...   ...      ...
889    235  Salvador 2019-01-03   41.84   1034     1    41.84
890    236  Salvador 2019-01-03  126.29   1035     3   378.87
891    237  Salvador 2019-01-03   38.06   1036     3   114.18
892    238  Salvador 2019-01-03  139.64   1035     1   139.64
893    239  Salvador 2019-01-03  161.41   1037     3   484.23

[894 rows x 7 columns]

In [ ]:
df["Receita/Vendas"] =df["Receita"]/df["Vendas"]

In [ ]:
#Retornando a maior receita
df["Receita"].max()

3544.0

In [ ]:
df.nlargest(10, "Receita")

     index Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
279      7  Natal 2019-03-18   886.0    853     4   3544.0             4.0
323     51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
327     55  Natal 2019-01-08   859.0    854     4   3436.0             4.0
302     30  Natal 2018-10-02   856.0    853     4   3424.0             4.0
313     41  Natal 2018-05-20   835.0    852     4   3340.0             4.0
282     10  Natal 2018-10-27   828.0    852     4   3312.0             4.0
310     38  Natal 2018-02-25   828.0    852     4   3312.0             4.0
341     69  Natal 2019-03-24   817.0    852     4   3268.0             4.0
334     62  Natal 2018-02-10   793.0    854     4   3172.0             4.0
324     52  Natal 2018-04-27   778.0    854     4   3112.0             4.0

In [ ]:
df.nsmallest(3,"Receita")

     index   Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
118    118  Aracaju 2018-01-01    3.34   1522     1     3.34             1.0
577     65   Recife 2019-01-01    4.01    981     1     4.01             1.0
364     92    Natal 2019-01-02    4.57   1035     1     4.57             1.0

In [ ]:
#agrupando por cidade
df.groupby('Cidade')['Receita'].sum()

Cidade
Aracaju       48748.25
Fortaleza     37913.97
Natal        167227.52
Recife        51936.51
Salvador      40596.73
Name: Receita, dtype: float64

In [ ]:
#ordenando conjunto de dados
df.sort_values('Receita',ascending=False).head(10)

     index Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
279      7  Natal 2019-03-18   886.0    853     4   3544.0             4.0
327     55  Natal 2019-01-08   859.0    854     4   3436.0             4.0
323     51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
302     30  Natal 2018-10-02   856.0    853     4   3424.0             4.0
313     41  Natal 2018-05-20   835.0    852     4   3340.0             4.0
310     38  Natal 2018-02-25   828.0    852     4   3312.0             4.0
282     10  Natal 2018-10-27   828.0    852     4   3312.0             4.0
341     69  Natal 2019-03-24   817.0    852     4   3268.0             4.0
334     62  Natal 2018-02-10   793.0    854     4   3172.0             4.0
324     52  Natal 2018-04-27   778.0    854     4   3112.0             4.0